html{
     background-color: #eee;
}

.wrapper
{
    Width:900px;  
    margin:0px auto;
    padding:30px;
   

}
.content{
 margin-top:20px;
margin-bottom:30px;
margin-left: 140px;
margin-right: 140px;
padding:20px 5px;


}
#homeBody{
    margin-top: 70px ;
    
}
.clear{
    clear: both;
}
#headr{

    height: 200px;
    width: 900px;
    margin-top: 0px ;
    margin-left: 100px ;
   
}
#logo{
    float: left;
    
    padding-right: 0px;
}


.ptitle{
    float:left;
    font-size: 90px;
    margin-left: 10px;
    padding-right: 60px;
    margin-top: 7px;
}


.nav-footer{
    list-style:none ;
    margin: 10px ;    
    color: black ;
    padding: 20px ;
    width: 900px ;
    font-size: 20px ;
}

.navItem-footer a:link{
    color:black;
}
.navItem-footer a:visited{
    color: black;
}


.navItem-footer{
    display:inline ;
    padding:10px ;
    font-size: 20px ;
    color:black ;
}


.nav {
  position: relative;
  width: 900px;
  height: 2em;
  margin: 0px auto;
  padding: 0;
  white-space: nowrap;
}

.nav .navItem {
  display: inline;
  text-align: center;
  margin-right: 50px;
}

.nav .navItem a {
  position: relative;
  top: 0;
  left: 0;
  right: 25em;
  bottom: 0;
  display: inline-block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: .4em .2em;
  color: black;
  text-decoration: none;
  text-shadow: 0 1px 0 white;

  /*transition*/
  -webkit-transition: width .3s,right .3s;
  -moz-transition: width .3s,right .3s;
  -o-transition: width .3s,right .3s;
  transition: width .3s,right .3s;
}

ul.nav li:nth-child(1) a { width: 4em; }
ul.nav li:nth-child(2) a { width: 7em; }
ul.nav li:nth-child(3) a { width: 7em; }
ul.nav li:nth-child(4) a { width: 4em; }
ul.nav li:nth-child(5) a { width: 4em; }

ul.nav li:last-child a::after {
  content: "";
  position: absolute;
  right: inherit;
  bottom: -3px;
  width: inherit;
  height: 3px;
  background: #ccc;
  pointer-events: none;
  /*transition*/
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

ul.nav li:nth-child(1) ~ li:last-child a {
  right: 34em;
  width: 4em;
}

ul.nav li:nth-child(2):hover ~ li:last-child a {
  right: 24.25em;
  width: 7em;
}

ul.nav li:nth-child(3):hover ~ li:last-child a {
  right: 14.50em;
  width: 7em;
}

ul.nav li:nth-child(4):hover ~ li:last-child a {
  right: 7.75em;
  width: 4em;
}

ul.nav li:nth-child(5):last-child:hover a {
  right: 0;
  width: 5em;
}

ul.nav li:hover ~ li:last-child a::after,
ul.nav li:last-child:hover a::after { background: #CC0606; }

ul.nav li:last-child a {
  min-width: 5em;
  max-width: 5em;
}

ul.nav li a:hover, ul.nav li a:focus, ul.nav li a.active
{
  color: #CC0606;
  background-color: rgba(255,255,255,.6);

  /*transition*/
  -webkit-transition: width .3s,right .3s,background-color .3s;
  -moz-transition: width .3s,right .3s,background-color .3s;
  -o-transition: width .3s,right .3s,background-color .3s;
  transition: width .3s,right .3s,background-color .3s;
}

ul.nav li a:focus , ul.nav li a.active{ border-bottom: 3px solid #CC0606; }

#fotter{
    height: 150px;
    background-color:#CC0606; 
    padding: 10px;
    width: 900px;

}
#socials{
    height: 140px;
    width: 140px;
    margin: 5px;
    float: left
    
}
#socials .icons{
    margin: 3px;
    float: left;
    padding-right: 0px;
}

#sitemap{
    height: 100px;
    width: 400px;
    float:left;
    margin: 5px;
    margin-top: 10px;
}
#navsite{
    padding: 0px;
    margin: 0px;
}
#copyright{
    padding-left: 11px;
    height: 20px;
    margin-top: 5px;  
}

.slider {
    margin: 0 auto;
    max-width: 300px;
    height: 444px;
}

.slide_viewer {
    height: 100%;//<!--340px;-->
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slide_group {

    height: 100%;
    position: relative;
    width: 100%;
}

.slide {
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;
}

.slide:first-child {
    display: block;
}

.slide:nth-of-type(1) {
    background: #D7A151;
}

.slide:nth-of-type(2) {
    background: #F4E4CD;
}

.slide:nth-of-type(3) {
    background: #C75534;
}

.slide:nth-of-type(4) {
    background: #D1D1D4;
}

.slide_buttons {
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
}

a.slide_btn {
    color: #474544;
    font-size: 42px;
    margin: 0 0.175em;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.slide_btn.active, .slide_btn:hover {
    color: #428CC6;
    cursor: pointer;
}

.directional_nav {
    height: 50px;
    margin: 0 auto;
    max-width: 940px;
    position: relative;
    top: -340px;
}

.previous_btn {
    bottom: 0px;
    left: 200px;
    margin: auto;
    position: absolute;
    top: 150px;
}

.next_btn {
    bottom: 0px;
    margin: auto;
    position: absolute;
    right: 200px;
    top: 150px;
}

.previous_btn, .next_btn {
    cursor: pointer;
    height: 65px;
    opacity: 0.5;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    width: 65px;
}

.previous_btn:hover, .next_btn:hover {
    opacity: 1;
}

@media only screen and (max-width: 767px) {
    .previous_btn {
        left: 50px;
    }
    .next_btn {
        right: 50px;
    }
}


input,  select{
    width: 25%;
    padding: 3px 10px;
    margin: 8px 0;
    border: 1px solid gray;
    border-radius: 4px;
}
input[type=radio]{
    width: 5%   !important ;
}
input[type= file]{
    width: 30%  !important;
}
textarea{   
    padding: 3px 10px;
    margin: 8px 0;
    border: 1px solid gray;
    border-radius: 4px;  
}

input[type=submit], button  {
    background-color: ghostwhite;
    color: black;
    padding: 3px 10px;
    margin: 8px 0;
    border: 1px solid gray ;
    border-radius: 4px;
    cursor: pointer;
}

label, h3{
    display: inline-block;
    width: 140px;
    
}

 h3.names{
    display: inline-block;
    width: 140px;
    margin-right: 55px;
}

p.aboutP{
    display: inline-block;
    //padding-left: 11px;
    height: 20px;
    //margin-top: 5px;
    margin-right: 27px;
    
}

   .error
            {
                color: red;
                font-style: italic;
                font-size: 10px;
                visibility:hidden;
            }
            
            

table{
    border-collapse: collapse;
    width: 110%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #CC0606;
    color: white;
}
  